name: Main Pipeline
on: [push]
jobs:
  Style-Check:
    runs-on: ubuntu-latest
    steps:
      - name: "Setup Python"
        uses: actions/setup-python@v5
        with:
          python-version: '3.14' 
      - name: "Install Poetry"
        uses: abatilo/actions-poetry@v3.0.2
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Install Dependencies"
        run: "scripts/install-deps.sh"
      - name: "Code Style Check"
        run: "scripts/format.sh"

  Unit-Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        optional_deps: [0, 1]
    env:
      DAILYBKUP_DEV_OPTIONAL_DEPS: ${{ matrix.optional_deps }}
    steps:
      - name: "Setup Python"
        uses: actions/setup-python@v5
        with:
          python-version: '3.14' 
      - name: "Install Poetry"
        uses: abatilo/actions-poetry@v3.0.2
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Install Dependencies"
        run: "scripts/install-deps.sh"
      - name: "Unit Tests"
        run: "scripts/test.sh -u"

  Functional-Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        optional_deps: [0, 1]
    env:
      DAILYBKUP_DEV_OPTIONAL_DEPS: ${{ matrix.optional_deps }}
    services:
      wiremock:
        image: wiremock/wiremock:2.35.0
        ports:
          - 9000:8080
    steps:
      - name: "Setup Python"
        uses: actions/setup-python@v5
        with:
          python-version: '3.14' 
      - name: "Install Poetry"
        uses: abatilo/actions-poetry@v3.0.2
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Install Dependencies"
        run: "scripts/install-deps.sh"
      - name: "Functional Tests"
        env:
          DAILYBKUP_B2_APPLICATION_KEY: ${{ secrets.DAILYBKUP_B2_APPLICATION_KEY }}
          DAILYBKUP_B2_APPLICATION_KEY_ID: ${{ secrets.DAILYBKUP_B2_APPLICATION_KEY_ID }}
        run: "scripts/test.sh -f"

  Type-Check:
    runs-on: ubuntu-latest
    steps:
      - name: "Setup Python"
        uses: actions/setup-python@v5
        with:
          python-version: '3.14' 
      - name: "Install Poetry"
        uses: abatilo/actions-poetry@v3.0.2
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Install Dependencies"
        run: "scripts/install-deps.sh"
      - name: "Type Checking"
        run: "scripts/typecheck.sh"

  Renovate-Config-Validation:
    runs-on: ubuntu-latest
    container:
      image: renovate/renovate:39.26
      options: --user root
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Check Renovate config"
        run:  renovate-config-validator /__w/dailybkup/dailybkup/renovate.json
        
